//Mobile first

.page-header {
  height: 100%;

  background-image: url("../img/bg-mob.jpg");
  background-repeat: no-repeat;
	background-position: center center;
	background-color: #000;
	background-size: cover;
}

.page-header__logo {
	display: none;

	text-align: center;
}

.page-header__inner {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 240px;
	height: 100%;
	margin: 0 auto;
}

.page-header__content {
	text-align: center;
}

.page-header__title {
	position: relative;
	
	margin: 0;
	margin-bottom: 15px;
	padding-bottom: 20px;
	letter-spacing: 0.2em;

  color: #e2ad61;
	font-size: 20px;
	line-height: 20px;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: 180px;
    height: 1px;

    background-color: #E2AD61;
  }
}

.page-header__description {
	margin: 0;
	margin-bottom: 15px;

  font-size: 14px;
}

.page-header__text {
	margin: 0;

  font-size: 14px;
}

.page-header__facebook {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin: 0 auto;
  border-radius: 50%;
	border: 1px solid #C59754;


  svg {
    fill: #E2AD61;
  }
}

// Tablet
@media (min-width: 768px) {
  .page-header {
    background-image: url("../img/bg-tab.jpg");
  }

  .page-header__inner {
		width: 512px;
		padding-top: 160px;
		justify-content: flex-start;
  }

  .page-header__content {
		padding: 0 50px;
		margin-bottom: 20px;
  }

  .page-header__title {
		font-size: 30px;
		line-height: 35px;
  }

  .page-header__description {
    
  }

  .page-header__text {
		
		margin-bottom: 25px;
  }

  .page-header__logo {
		display: block;
		margin-bottom: 25px;
	}
	
	.page-header__facebook {
		
	}
}

// Desktop HD
@media (min-width: 1280px) {
  .page-header {
    background-image: url("../img/bg-desk-hd.jpg");
	}
	
	.page-header .logo {
		align-self: flex-start;
		align-content: flex-start;
	}

  .page-header__inner {
		width: 1170px;
		padding-top: 60px;
	}

  .page-header__content {
		width: 690px;
		padding: 0 120px;
  }

	.page-header__title {
    
  }

  .page-header__description {
    
  }

  .page-header__text {
		
		margin-bottom: 25px;
  }
}

// Desktop FULLHD
@media (min-width: 1920px) {
	.page-header {
    background-image: url("../img/bg-desk-fullhd.jpg");
	}

	.page-header__inner {
		width: 1759px;
	}

	.page-header__content {
		padding: 0 40px;
	}

	.page-header__title {
		font-size: 50px;
		line-height: 55px;
	}

	.page-header__description {
		font-size: 18px;
	}

	.page-header__facebook {
		width: 80px;
		height: 80px;

		svg {
			width: 13px;
			height: 25px;
		}
	}

	.page-header__logo {
		margin-bottom: 70px;
	}
}