@font-face {
  font-family: "futurabookc";
  src: url("../fonts/futurabookc/futurabookc.woff2") format("woff2"),
      url("../fonts/futurabookc/futurabookc.woff") format("woff");
  font-style: normal;
  font-weight: normal;
 }